{% assign page_contents = site.data[page.contents].links %}
<div class="flex flex-wrap mt-12 mb-8 w-full border-t-2 border-gray-100">
  {% for item in page_contents %}
    {% if page.url == item.link %}
      
      {% unless forloop.first %}
        <div class="w-full border-b-2 border-gray-100 group">
          {% assign prev = forloop.index0 | minus: 1 %}
          <a
            href="{{ page_contents[prev].link | relative_url }}"
            class="text-primary hover:text-primary-900 flex items-center hover:bg-secondary/10 py-6 px-4 transition-all duration-200"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 mr-4 transition-transform group-hover:-translate-x-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
            <div class="flex flex-col">
              <span class="text-xs uppercase tracking-widest text-gray-500 font-bold mb-1">Previous Priority</span>
              <span class="text-lg font-extrabold underline decoration-secondary decoration-2 underline-offset-4">{{ page_contents[prev].name }}</span>
            </div>
          </a>
        </div>
      {% endunless %}

      {% unless forloop.last %}
        <div class="w-full border-b-2 border-gray-100 group">
          {% assign next = forloop.index0 | plus: 1 %}
          <a
            href="{{ page_contents[next].link | relative_url }}"
            class="text-primary hover:text-primary-900 flex items-center hover:bg-secondary/10 py-6 px-4 transition-all duration-200"
          >
            <div class="flex flex-col text-right grow mr-4">
              <span class="text-xs uppercase tracking-widest text-gray-500 font-bold mb-1">Next Priority</span>
              <span class="text-lg font-extrabold underline decoration-secondary decoration-2 underline-offset-4">{{ page_contents[next].name }}</span>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 transition-transform group-hover:translate-x-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
          </a>
        </div>
      {% endunless %}

    {% endif %}
  {% endfor %}
</div>