@theme {
  /* UDA Green */
  --color-primary: #007A33;
  /* UDA Yellow/Gold */
  --color-secondary: #FFCD00;
  /* Darker Green for hover/text */
  --color-accent: #004d20;
  /* Dark neutral for text clarity */
  --color-hustler-black: #1a1a1a;
}
